html, body {
    height: 100%;
}

body {
    overflow: hidden;
}
/* ================= */

.loader {
    pointer-events: none;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: #fff6;
    transition: opacity 0.5s linear;
}

.loader._visible {
    pointer-events: auto;
    opacity: 1;
}

.loader-image {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    position: relative;
    animation: spin 1s infinite linear;
    top: 40%;
    left: 40%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* ================= */

.graph {
    display: block;
    height: calc(100% - 22px);
    shape-rendering: optimizeSpeed;
}
/* ================= */

.link-tooltip div * {
    width: 30%;
    text-align: center;
}

.link-tooltip,
.tooltip {
    position: absolute;
    display: block;
    width: auto;
    height: auto;
    max-height: 120px;
    padding: 5px 10px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.75);
    background-color: white;
    border: 1px darkgray solid;
    overflow: auto;
    visibility: hidden;
}

.link-tooltip {
    width: 450px;
}

.link-tooltip div,
.tooltip div {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.link-tooltip:hover,
.tooltip:hover {
    visibility: visible;
}

.link-tooltip._visible,
.tooltip._visible {
    visibility: visible;
}
/* ================= */

.context-panel {
    overflow: hidden;
    position: fixed;
    width: 200px;
    height: 20px;

    background-color: #fff8ef;
    border: 1px darkgray solid;
    padding: 5px;
    transition: .3s height ease-in-out;

    top: 20px;
    left: 20px;
}

.context-panel._expanded {
    height: 260px;
}

.context-panel > * {
    width: 100%;
    margin-bottom: 10px;
}

.context-panel input[type="number"] {
    width: calc(100% - 4px);
}
/* ================= */

.node {
    stroke: darkgray;
    stroke-width: 2px;
    cursor: pointer;
}
.node._low-scale {
    stroke: none;
    /*fill: black;*/
}

.label {
    pointer-events: none;
}
.label._low-scale {
    display: none;
}

.link {
    stroke: #aaa;
    stroke-linecap: round;
}

.link:hover {
    stroke-width: 8px;
    stroke: royalblue;
    z-index: 3;
}

.link._selected {
    stroke: royalblue;
    stroke-width: 4px;
}

.link._low-scale:hover,
.link._low-scale {
    marker-end: none;
    marker-start: none;
    mask: none;
}
/* ================= */

.topic-panel {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #8080809c;
    display: none;
}

.topic-panel._visible {
    display: block;
}

.topic-panel__main {
    position: relative;
    padding: 0 20px;
    box-sizing: border-box;
    width: 80%;
    height: 70%;
    background: white;
    top: 12%;
    left: 10%;
}

.topic-panel__header {
    height: 40px;
    padding: 10px 0;
    display: flex;
    position: relative;
    box-sizing: border-box;
    justify-content: space-between;
    border-bottom: 1px lightgray solid;

    font-size: 20px;
    font-family: sans-serif;
}

.topic-panel__close {
    width: 20px;
    color: gray;
    cursor: pointer;
}

.topic-panel__chart {
    height: calc(100% - 30px);
}

.topic-panel__filter {
    margin: 5px 0;
}

.topic-panel__content {
    display: flex;
    flex-flow: row;
    height: calc(100% - 40px);
}

.topic-panel__data {
    width: calc(100% - 220px);
}

.topic-panel__list {
    width: 220px;
    padding-left: 10px;
    border-left: 1px lightgray solid;
}

.topic-panel__list-title {
    height: 30px;
    font-weight: bold;
    line-height: 25px;
    justify-content: space-between;
    display: flex;
}

.topic-panel__list-content {
    padding-top: 5px;
    overflow: auto;
    height: calc(100% - 35px);
}

.topic-panel__list-content div {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.topic-panel__list-content div:last-child {
    padding-bottom: 3px;
}

.topic-panel__list-content div span {
    width: 49%;
    display: flex;
    align-items: center;
    word-wrap: anywhere;
}

.topic-panel__list-content div span:first-child {
    justify-content: flex-start;
}

.topic-panel__list-content div span:last-child {
    justify-content: flex-end;
}
/* ============================ */